<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Activity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

    <div class="header">
                Add Activity
            <div class="header-right">
            <a href="{{url_for('display_hello')}}">
                Go Back
            </a>
            </div>
    </div>
        <p>
           <form method="POST">

                <input type="text" name="new_act" min="5" max="60">
                <input type="submit" value="Submit">
            </form>
        </p>
</body>
</html>