<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

    <div class="header">
        <p>
           <form method="POST">
                <select name="activities" method="GET" action="/">
                    {% for act in acts %}
                        <option value= "{{ act|e }}">{{ act|e }}</option>
                        {% endfor %}
                </select>
                <input type="number" name="duration" min="5" max="60">
                <input type="submit" value="Submit">
            </form>
        </p>
    </div>
</body>
</html>