<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

    <div class="header">
        <p>
            <h3>Daily Minutes</h3>
            {% for total in totals %}
            <!-- total[0] is the string representation of the day and total[1] is the total number of minutes  -->
                {{ total[0] }}: {{ total[1] }} min
                <br>
            {% endfor %}
            <img src="http://localhost:5000/plots/daily_breakdown" />
        </p>
    </div>
</body>
</html>