<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

    <div class="header">
            <a href="{{url_for('display_hello')}}">
                Home
            </a>
        <div class="header-right">
        <a href="{{url_for('add_acts')}}">
            Add Activity
        </a>
        <a href="{{url_for('random_act')}}">
            Random Activity
        </a>
        </div>
    </div>
    <h2>Activity Tracker</h2>
    <br>
    <div class="container">
        <div class="input-area">
            <label for="activities">Select an activity from the drop down list: </label>
            <form method="POST">
                <select id='act-list'name="activities" method="GET" action="/">
                    {% for act in acts %}
                    <option value= "{{ act|e }}">{{ act|e }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="duration">How long did you do this for? </label>
                    <input id='act-time' type="number" name="duration" step="5" min='0'>
                    <br>
                    <input id='submit-button' type="submit" value="Submit">
                </form>
               <h4>Today's total (min): {{min_sum}}</h4>
               <h4>Today's total (hr): {{min_sum/60}}</h4>
        </div>
    </div>
</body>
</html>